@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Bree Serif", serif;
}
.section1 {
  display: grid;
  grid-template-columns: 0fr 1.7fr 2fr;
  position: relative;
}

.left1 {
  background-color: #6c03ad;
  height: 98vh;
  position: relative;
  /* opacity: 0; */
  transition: opacity 0.3s ease;
}
.right1 {
  background-color: #c8c8c8;
  height: 98vh;
}

.left-down1 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 50vh;
  left: 4vw;
  width: 650px;
  height: 450px;
}

.world-comm1 {
  margin-bottom: 20px;
  width: 350px;
}
.abc1231 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-left: 1px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
}

.para1 {
  color: #ffffffcf;
  font-size: 18px;
  word-spacing: 3px;
  width: 300px;
  margin-bottom: 40px;
}

.para21 {
  color: #ffffffcf;
}

.case-study1 {
  display: grid;
  grid-template-columns: 1fr 4.2fr;
}
.skip1 {
  position: absolute;
  font-size: 18px;
  bottom: 13vh;
  right: 3vw;
  letter-spacing: 4px;
}
.m251 {
  position: absolute;
  z-index: 100;
  top: 30vh;
  left: 20vw;
  background-color: transparent;
  color: #fff;
  font-size: 60px;
}
.appstore1 {
  position: absolute;
  color: #ffffffbe;
  font-size: 22px;
  background-color: transparent;
  top: 40.5vh;
  left: 27vw;
  letter-spacing: 1.5px;
  z-index: 100;
}

.semiCircle1 {
  position: absolute;
  top: 42vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 180px;
  border-radius: 0px 250px 250px 0px;
  background-color: #6c03ad;
}
.right-img1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nexgtv-entertainment1 {
  position: absolute;
  top: 26vh;
  right: 22vw;
  width: 350px;
}
.nexgtv-mobile1 {
  position: absolute;
  top: 26vh;
  right: 4vw;
  width: 350px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*PAGE 2*/
/* //////////////////////////////////////////////////////////////// */
.section2 {
  display: grid;
  grid-template-columns: 0fr 1.7fr 2fr;
  position: relative;
}
.left2 {
  background-color: #4e27ce;
  height: 98vh;
  position: relative;
}
.right2 {
  background-color: #1d0363;
  height: 98vh;
}
.nextbig2 {
  position: absolute;
  z-index: 100;
  top: 34vh;
  left: 28vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.block2 {
  position: absolute;
  z-index: 100;
  font-size: 53px;
  top: 38vh;
  left: 28vw;
  color: #fff;
  background-color: transparent;
}
.revol2 {
  position: absolute;
  z-index: 100;
  font-size: 25px;
  top: 48.5vh;
  left: 37vw;
  color: #fff;
  background-color: transparent;
}

.semiCircle2 {
  position: absolute;
  top: 42vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 180px;
  border-radius: 0px 250px 250px 0px;
  background-color: #4e27ce;
}
.left-down2 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 64vh;
  left: 4vw;
  width: 650px;
  height: 450px;
}
.abc2342 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-left: 1px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
}
.para2 {
  color: #ffffffcf;
  font-size: 18px;
  word-spacing: 3px;
  width: 300px;
  margin-bottom: 40px;
}
.para22 {
  color: #ffffffcf;
}
.skip2 {
  position: absolute;
  font-size: 18px;
  color: #ffffffcf;
  right: 3vw;
  bottom: 27vh;
  letter-spacing: 4px;
}
.right-img2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.veme-block2 {
  position: absolute;
  top: 44vh;
  right: 22vw;
  width: 250px;
}
.veme-app2 {
  position: absolute;
  right: 1vw;
  top: -6vh;
  width: 250px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*PAGE 3*/
/* //////////////////////////////////////////////////////////////// */
.section3 {
  display: grid;
  grid-template-columns: 0fr 1.7fr 2fr;
  position: relative;
}
.left3 {
  background-color: #0f113b;
  height: 98vh;
  position: relative;
}
.right3 {
  background-color: #151649;
  height: 98vh;
}
.power3 {
  position: absolute;
  z-index: 100;
  top: 34vh;
  left: 30vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.nasa3 {
  z-index: 100;
  position: absolute;
  top: 39.5vh;
  left: 30vw;
  width: 300px;
}
.algo3 {
  position: absolute;
  z-index: 100;
  font-size: 25px;
  top: 51vh;
  left: 42vw;
  color: #fff;
  background-color: transparent;
}
.semiCircle3 {
  position: absolute;
  top: 42vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 180px;
  border-radius: 0px 250px 250px 0px;
  background-color: #0f113b;
}
.left-down3 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 64vh;
  left: 4vw;
  width: 650px;
  height: 450px;
}
.abc3453 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-left: 1px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
}
.para3 {
  color: #ffffffcf;
  font-size: 18px;
  word-spacing: 3px;
  width: 300px;
  margin-bottom: 40px;
}
.para23 {
  color: #ffffffcf;
}
.skip3 {
  position: absolute;
  font-size: 18px;
  color: #ffffffcf;
  right: 3vw;
  bottom: 27vh;
  letter-spacing: 4px;
}
.right-img3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nasa-fit3 {
  position: absolute;
  top: 27vh;
  right: 20vw;
  width: 300px;
}
.measure3 {
  right: 2vw;
  width: 250px;
  position: absolute;
  top: -15vh;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*PAGE 4*/
/* //////////////////////////////////////////////////////////////// */
.section4 {
  display: grid;
  grid-template-columns: 0fr 1.7fr 2fr;
  position: relative;
}
.left4 {
  background-color: #17263c;
  height: 98vh;
  position: relative;
}
.right4 {
  background-color: #0e131c;
  height: 98vh;
}
.re4 {
  position: absolute;
  z-index: 100;
  top: 34vh;
  left: 28vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.ux4 {
  position: absolute;
  z-index: 100;
  top: 37vh;
  left: 28vw;
  background-color: transparent;
  color: #fff;
  font-size: 54px;
}
.ui4 {
  position: absolute;
  z-index: 100;
  top: 48vh;
  left: 36.8vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.semiCircle4 {
  position: absolute;
  top: 42vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 180px;
  border-radius: 0px 250px 250px 0px;
  background-color: #17263c;
  z-index: 10;
}
.left-down4 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 64vh;
  left: 4vw;
  width: 650px;
  height: 450px;
}
.abc4564 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-left: 1px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
}
.para4 {
  color: #ffffffcf;
  font-size: 18px;
  word-spacing: 3px;
  width: 300px;
  margin-bottom: 40px;
}

.para24 {
  color: #ffffffcf;
}

.case-study4 {
  display: grid;
  grid-template-columns: 1fr 4.2fr;
}
.skip4 {
  position: absolute;
  font-size: 18px;
  color: #ffffffcf;
  right: 3vw;
  bottom: 27vh;
  letter-spacing: 4px;
}
.right-img4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pizzabox4 {
  position: absolute;
  top: -8vh;
  right: 27vw;
}
.uxstrat4 {
  position: absolute;
  width: 220px;
  top: 12vh;
  right: 10vw;
}
.domi4 {
  position: absolute;
  top: -18vh;
  right: 2vw;
  width: 160px;
}
.domiimg4 {
  position: absolute;
  width: 240px;
  top: 50vh;
  right: 27vw;
}
.bread4 {
  position: absolute;
  bottom: -13vh;
  right: -2vw;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*PAGE 5*/
/* //////////////////////////////////////////////////////////////// */
.section5 {
  display: grid;
  grid-template-columns: 0fr 1.7fr 2fr;
  position: relative;
}
.left5 {
  background-color: #134ca2;
  height: 98vh;
  position: relative;
}
.right5 {
  background-color: #2ecdde;
  height: 98vh;
}
.text5 {
  position: absolute;
  z-index: 100;
  top: 33vh;
  left: 30vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.texthead5 {
  position: absolute;
  z-index: 100;
  top: 36.5vh;
  left: 30.5vw;
  background-color: transparent;
  color: #fff;
  font-size: 50px;
}
.foot5 {
  position: absolute;
  z-index: 100;
  top: 46.5vh;
  left: 39.5vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.semiCircle5 {
  position: absolute;
  z-index: 10;
  top: 42vh;
  left: 44vw;
  transform: translate(-50%, -50%);
  height: 370px;
  width: 370px;
  border-radius: 250px 250px 250px 250px;
  background-color: #1457c1;
}
.left-down5 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 64vh;
  left: 4vw;
  width: 650px;
  height: 450px;
}
.abc5675 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-left: 1px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
}
.para5 {
  color: #ffffffcf;
  font-size: 18px;
  word-spacing: 3px;
  width: 300px;
  margin-bottom: 40px;
}
.para25 {
  color: #ffffffcf;
}
.case-study5 {
  display: grid;
  grid-template-columns: 1fr 4.2fr;
}
.skip5 {
  position: absolute;
  font-size: 18px;
  color: #ffffffcf;
  right: 3vw;
  bottom: 27vh;
  letter-spacing: 4px;
}
.right-img5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.kar5 {
  position: absolute;
  width: 210px;
  top: -13vh;
  right: 28.5vw;
}
.soc5 {
  position: absolute;
  width: 230px;
  right: 13.5vw;
  top: -5vh;
}
.deve5 {
  width: 230px;
  position: absolute;
  top: 24vh;
  right: -1vw;
}
.karavan5 {
  width: 230px;
  position: absolute;
  bottom: -15vh;
  right: 28.5vw;
}
.karsoc5 {
  width: 230px;
  position: absolute;
  right: 13.5vw;
  bottom: -25vh;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*PAGE 6*/
/* //////////////////////////////////////////////////////////////// */
.section6 {
  display: grid;
  grid-template-columns: 0fr 1.7fr 2fr;
  position: relative;
}
.left6 {
  background-color: #022b92;
  height: 98vh;
  position: relative;
}
.right6 {
  background-color: #fff;
  height: 98vh;
}
.devlop6 {
  position: absolute;
  z-index: 100;
  top: 30vh;
  left: 27vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.texthead6 {
  position: absolute;
  z-index: 100;
  top: 34.5vh;
  left: 27.3vw;
  background-color: transparent;
  color: #fff;
  font-size: 50px;
}
.fur6 {
  position: absolute;
  z-index: 100;
  top: 44vh;
  left: 35vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.semiCircle6 {
  position: absolute;
  top: 42vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 180px;
  border-radius: 0px 250px 250px 0px;
  background-color: #022b92;
  z-index: 10;
}
.left-down6 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 64.5vh;
  left: 4vw;
  width: 650px;
  height: 450px;
}
.abc6786 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-left: 1px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
}
.para6 {
  color: #ffffffcf;
  font-size: 18px;
  word-spacing: 3px;
  width: 400px;
  margin-bottom: 40px;
}
.para26 {
  color: #ffffffcf;
}
.case-study6 {
  display: grid;
  grid-template-columns: 1fr 4.2fr;
}
.skip6 {
  position: absolute;
  font-size: 18px;
  color: #ffffffcf;
  right: 3vw;
  bottom: 27vh;
  letter-spacing: 4px;
}

.int6 {
  width: 1500px;
}
.erp6 {
  position: absolute;
  width: 850px;
  top: 0vh;
  right: -2.5vw;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*PAGE 7*/
/* //////////////////////////////////////////////////////////////// */
.section7 {
  display: grid;
  grid-template-columns: 0fr 1.7fr 2fr;
  position: relative;
}
.left7 {
  background-color: #01824d;
  height: 98vh;
  position: relative;
}
.right7 {
  background-color: #01b76a;
  height: 98vh;
}
.big7 {
  position: absolute;
  z-index: 100;
  top: 36vh;
  left: 32vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.east7 {
  position: absolute;
  z-index: 100;
  top: 39.5vh;
  left: 32vw;
  background-color: transparent;
  color: #fff;
  font-size: 56px;
}
.cou7 {
  position: absolute;
  z-index: 100;
  top: 50vh;
  left: 40.2vw;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}
.semiCircle7 {
  position: absolute;
  top: 42vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 180px;
  border-radius: 0px 250px 250px 0px;
  background-color: #01824d;
  z-index: 10;
}
.left-down7 {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 48vh;
  left: 4vw;
  width: 650px;
  height: 450px;
}

.mob7 {
  margin-bottom: 16px;
  width: 320px;
}
.abc234787 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-left: 1px;
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
}
.para7 {
  color: #ffffffcf;
  font-size: 18px;
  word-spacing: 3px;
  width: 300px;
  margin-bottom: 40px;
}
.para27 {
  color: #ffffffcf;
}
.skip7 {
  position: absolute;
  font-size: 18px;
  color: #ffffffcf;
  right: 3vw;
  bottom: 11vh;
  letter-spacing: 4px;
}
.right-img7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.melt7 {
  position: absolute;
  width: 350px;
  top: 36.5vh;
  right: 16vw;
  z-index: 10;
}
.melt27 {
  position: absolute;
  width: 300px;
  top: 29vh;
  right: 2vw;
}

/*/////////////////////////////////////////////////////*/
/*Chat Symbol*/
/*//////////////////////////////////////////////////*/
.circle {
  position: fixed;
  z-index: 1;
  height: 64px;
  width: 64px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(180deg, #166cc6 0%, #0a5eb7 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.08);
  float: right;
  right: 3vw;
  top: 87vh;
  cursor: pointer;
}
.mode-comment {
  font-variation-settings: "FILL" 100, "wght" 700, "GRAD" 0, "opsz" 64;
  color: #fff;
  /* width: 100px; */
}

.section {
  height: 98vh;
  width: 100%;
  /* opacity: 0; */
  /* visibility: hidden; */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
