<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>ScrollBar</title>
  </head>
  <body>
    <section class="section1">
      <!-- <div class="left-middle1">
        <p class="m251">25M+ Downloads</p>
        <p class="appstore1">on appstore & google playstore</p>
        <app-path></app-path>
        <div class="semi-circle"></div>
      </div>
      <div class="left1">
        <div class="left-down1">
          <div>
            <img
              class="world-comm1"
              src="assets/images/world-communication-awards-for-best-digital-experience.png"
            />
            <div>
              <h1 class="abc1231">ABC 123</h1>
              <p class="para1">
                We are the best web devlopment company in the world
              </p>
              <div class="para21">
                <div class="case-study1">
                  <p>View Case Study</p>
                  <span class="material-symbols-outlined">
                    arrow_right_alt
                  </span>
                </div>
                <p class="skip1">SKIP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right1">
        <div class="right-img1">
          <div>
            <img
              class="nexgtv-entertainment1"
              src="assets/images/nexgtv-entertainment-mobile-app-development.png"
              alt="mobile layout image"
            />
          </div>
          <div>
            <img
              class="nexgtv-mobile1"
              src="assets/images/nexgtv-mobile-app-ui-design.png"
              alt="mobile layout image"
            />
          </div>
        </div>
      </div> -->
    </section>
    <section class="section2">
      <!-- <div class="left-middle2">
        <p class="nextbig2">The Next Big</p>
        <p class="block2">Blockchain</p>
        <p class="revol2">Revolution</p>
        <app-path></app-path>
        <div class="semi-circle2"></div>
      </div>
      <div class="left2">
        <div class="left-down2">
          <div>
            <h1 class="abc2342">ABC 234</h1>
            <p class="para2">
              We are the best web devlopment company in the world
            </p>
            <p class="para22">Coming Soon</p>
            <p class="skip2">SKIP</p>
          </div>
        </div>
      </div>
      <div class="right2">
        <div class="right-img2">
          <div>
            <img
              class="veme-block2"
              src="assets/images/veme-blockchain-app-developed.png"
              alt="mobile layout image"
            />
          </div>
          <div>
            <img
              class="veme-app2"
              src="assets/images/veme-app-ui-design.png"
              alt="mobile layout image"
            />
          </div>
        </div>
      </div> -->
    </section>
    <section class="section3">
      <!-- <div class="left-middle3">
        <p class="power3">Powered by advance</p>
        <img class="nasa3" src="assets/images/nasa-mobile-app.png" />
        <p class="algo3">algorithms</p>
        <app-path></app-path>
        <div class="semi-circle3"></div>
      </div>
      <div class="left3">
        <div class="left-down3">
          <div>
            <h1 class="abc3453">ABC 345</h1>
            <div class="para3">
              <p>We are the best</p>
              <p>web devlopment company</p>
              <p>in the world</p>
            </div>
            <p class="para23">Coming Soon</p>
            <p class="skip3">SKIP</p>
          </div>
        </div>
      </div>
      <div class="right3">
        <div class="right-img3">
          <div>
            <img
              class="nasa-fit3"
              src="assets/images/nasa-fitness-tracking-mobile-app.png"
              alt="mobile layout image"
            />
          </div>
          <div>
            <img
              class="measure3"
              src="assets/images/measure-total-body-weight-through-fitness-app.png"
              alt="mobile layout image"
            />
          </div>
        </div>
      </div> -->
    </section>
    <section class="section4">
      <!-- <div class="left-middle4">
        <p class="re4">Redefining</p>
        <p class="ux4">UX Strategy</p>
        <p class="ui4">and UI design</p>
        <app-path></app-path>
        <div class="semi-circle4"></div>
      </div>
      <div class="left4">
        <div class="left-down4">
          <div>
            <h1 class="abc4564">ABC 456</h1>
            <div class="para4">
              <p>We are the best</p>
              <p>web devlopment company</p>
              <p>in the world</p>
            </div>
            <div class="para24">
              <div class="case-study4">
                <p>View Case Study</p>
                <span class="material-symbols-outlined"> arrow_right_alt </span>
              </div>
              <p class="skip4">SKIP</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right4">
        <div class="right-img4">
          <div>
            <img
              class="pizzabox4"
              src="assets/images/pizza_box.png"
              alt="Pizza box image"
            />
          </div>
          <div>
            <img
              class="uxstrat4"
              src="assets/images/ux-strategy-for-mobile-app-devlopment.png"
              alt="mobile layout image"
            />
          </div>
          <div>
            <img
              class="domi4"
              src="assets/images/dominos-bread.png"
              alt="Dominos bread image"
            />
          </div>
          <div>
            <img
              class="domiimg4"
              src="assets/images/domi-img1.png"
              alt="mobile layout image"
            />
          </div>
          <div>
            <img
              class="bread4"
              src="assets/images/dominos-bread1.png"
              alt="Dominos bread image"
            />
          </div>
        </div>
      </div> -->
    </section>
    <section class="section5">
      <!-- <div class="left-middle5">
        <p class="text5">Text Headline</p>
        <p class="texthead5">Text Headline</p>
        <p class="foot5">Footer headline</p>
        <app-path></app-path>
        <div class="semi-circle5"></div>
      </div>
      <div class="left5">
        <div class="left-down5">
          <div>
            <h1 class="abc5675">ABC 567</h1>
            <div class="para5">
              <p>We are the best AR</p>
              <p>Devlopment company</p>
              <p>in the world</p>
            </div>
            <div class="para25">
              <div class="case-study5">
                <p>View Case Study</p>
                <span class="material-symbols-outlined"> arrow_right_alt </span>
              </div>
              <p class="skip5">SKIP</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right5">
        <div class="right-img5">
          <div>
            <img
              class="kar5"
              src="assets/images/karavan-social-networking-app-screen.png"
              alt="mobile layout image"
            />
          </div>
          <div>
            <img
              class="soc5"
              src="assets/images/social-networking-app-case-study.png"
              alt="mobile layout image"
            />
          </div>
          <div>
            <img
              class="deve5"
              src="assets/images/developers-for-social-media-app.png"
              alt="mobile layout image"
            />
          </div>
          <div>
            <img
              class="karavan5"
              src="assets/images/karavan_2.png"
              alt="mobile layout image"
            />
          </div>
          <div>
            <img
              class="karsoc5"
              src="assets/images/karavan-social-networking-app-screen-2.png"
              alt="mobile layout image"
            />
          </div>
        </div>
      </div> -->
    </section>
    <section class="section6">
      <div class="left-middle6">
        <p class="devlop6">Devloping ERP Solution for</p>
        <p class="texthead6">Text Headline</p>
        <p class="fur6">in furniture industry</p>
        <app-path></app-path>
        <div class="semi-circle6"></div>
      </div>
      <div class="left6">
        <div class="left-down6">
          <div>
            <h1 class="abc6786">ABC 678</h1>
            <div class="para6">
              <p>Best since 2017</p>
              <p>We offer wide range of</p>
              <p>web development and app development</p>
            </div>
            <div class="para26">
              <div class="case-study6">
                <p>View Case Study</p>
                <span class="material-symbols-outlined"> arrow_right_alt </span>
              </div>
              <p class="skip6">SKIP</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right6">
        <div class="right-img6">
          <div>
            <img
              class="int6"
              src="assets/images/interior.jpg"
              alt="home interior image"
            />
          </div>
          <div>
            <img
              class="erp6"
              src="assets/images/erp-app-development-service.png"
              alt="ipad layout image"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="section section7"></section>
  </body>
</html>
