<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>ScrollBar</title>
  </head>
  <body>
    <div class="container">
      <section #section1 class="section section1">
        <div class="left-middle1">
          <p class="m251 paragraph">25M+ Downloads</p>
          <p class="appstore1 paragraph">on appstore & google playstore</p>
          <app-path></app-path>
          <div #semiCircle1 class="semiCircle1 semcir"></div>
        </div>
        <div #left1 class="left1 left">
          <div class="left-down1">
            <div>
              <img
                class="world-comm1 images"
                src="assets/images/world-communication-awards-for-best-digital-experience.png"
              />
              <div>
                <h1 class="abc1231 paragraph">ABC 123</h1>
                <p class="para1 paragraph">
                  We are the best web devlopment company in the world
                </p>
                <div class="para21">
                  <div class="case-study1 paragraph">
                    <p>View Case Study</p>
                    <span class="material-symbols-outlined">
                      arrow_right_alt
                    </span>
                  </div>
                  <p class="skip1">SKIP</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div #right1 class="right1 right">
          <div class="right-img1">
            <div>
              <img
                class="nexgtv-entertainment1 images"
                src="assets/images/nexgtv-entertainment-mobile-app-development.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="nexgtv-mobile1 images"
                src="assets/images/nexgtv-mobile-app-ui-design.png"
                alt="mobile layout image"
              />
            </div>
          </div>
        </div>
      </section>
      <section #section2 class="section section2">
        <div class="left-middle2">
          <p class="nextbig2 paragraph">The Next Big</p>
          <p class="block2 paragraph">Blockchain</p>
          <p class="revol2 paragraph">Revolution</p>
          <app-path></app-path>
          <div #semiCircle2 class="semiCircle2 semcir"></div>
        </div>
        <div #left2 class="left2 left">
          <div class="left-down2">
            <div>
              <h1 class="abc2342 paragraph">ABC 234</h1>
              <p class="para2 paragraph">
                We are the best web devlopment company in the world
              </p>
              <p class="para22 paragraph">Coming Soon</p>
              <p class="skip2">SKIP</p>
            </div>
          </div>
        </div>
        <div #right2 class="right2 right">
          <div class="right-img2">
            <div>
              <img
                class="veme-block2 images"
                src="assets/images/veme-blockchain-app-developed.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="veme-app2 imagee"
                src="assets/images/veme-app-ui-design.png"
                alt="mobile layout image"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="section section3">
        <div class="left-middle3">
          <p class="power3 paragraph">Powered by advance</p>
          <img class="nasa3 images" src="assets/images/nasa-mobile-app.png" />
          <p class="algo3 paragraph">algorithms</p>
          <app-path></app-path>
          <div #semiCircle3 class="semiCircle3 semcir"></div>
        </div>
        <div #left3 class="left3 left">
          <div class="left-down3">
            <div>
              <h1 class="abc3453 paragraph">ABC 345</h1>
              <div class="para3 paragraph">
                <p>We are the best</p>
                <p>web devlopment company</p>
                <p>in the world</p>
              </div>
              <p class="para23 paragraph">Coming Soon</p>
              <p class="skip3">SKIP</p>
            </div>
          </div>
        </div>
        <div #right3 class="right3 right">
          <div class="right-img3">
            <div>
              <img
                class="nasa-fit3 images"
                src="assets/images/nasa-fitness-tracking-mobile-app.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="measure3 imagee"
                src="assets/images/measure-total-body-weight-through-fitness-app.png"
                alt="mobile layout image"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="section section4">
        <div class="left-middle4">
          <p class="re4 paragraph">Redefining</p>
          <p class="ux4 paragraph">UX Strategy</p>
          <p class="ui4 paragraph">and UI design</p>
          <app-path></app-path>
          <div #semiCircle4 class="semiCircle4 semcir"></div>
        </div>
        <div #left4 class="left4 left">
          <div class="left-down4">
            <div>
              <h1 class="abc4564 paragraph">ABC 456</h1>
              <div class="para4 paragraph">
                <p>We are the best</p>
                <p>web devlopment company</p>
                <p>in the world</p>
              </div>
              <div class="para24">
                <div class="case-study4 paragraph">
                  <p>View Case Study</p>
                  <span class="material-symbols-outlined">
                    arrow_right_alt
                  </span>
                </div>
                <p class="skip4">SKIP</p>
              </div>
            </div>
          </div>
        </div>
        <div #right4 class="right4 right">
          <div class="right-img4">
            <div>
              <img
                class="pizzabox4 imagee"
                src="assets/images/pizza_box.png"
                alt="Pizza box image"
              />
            </div>
            <div>
              <img
                class="uxstrat4 imagee"
                src="assets/images/ux-strategy-for-mobile-app-devlopment.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="domi4 imagee"
                src="assets/images/dominos-bread.png"
                alt="Dominos bread image"
              />
            </div>
            <div>
              <img
                class="domiimg4 images"
                src="assets/images/domi-img1.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="bread4 images"
                src="assets/images/dominos-bread1.png"
                alt="Dominos bread image"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="section section5">
        <div class="left-middle5">
          <p class="text5 paragraph">Text Headline</p>
          <p class="texthead5 paragraph">Text Headline</p>
          <p class="foot5 paragraph">Footer headline</p>
          <app-path></app-path>
          <div #semiCircle5 class="semiCircle5 semcir"></div>
        </div>
        <div #left5 class="left5 left">
          <div class="left-down5">
            <div>
              <h1 class="abc5675 paragraph">ABC 567</h1>
              <div class="para5 paragraph">
                <p>We are the best AR</p>
                <p>Devlopment company</p>
                <p>in the world</p>
              </div>
              <div class="para25">
                <div class="case-study5 paragraph">
                  <p>View Case Study</p>
                  <span class="material-symbols-outlined">
                    arrow_right_alt
                  </span>
                </div>
                <p class="skip5">SKIP</p>
              </div>
            </div>
          </div>
        </div>
        <div #right5 class="right5 right">
          <div class="right-img5">
            <div>
              <img
                class="kar5 imagee"
                src="assets/images/karavan-social-networking-app-screen.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="soc5 imagee"
                src="assets/images/social-networking-app-case-study.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="deve5 im"
                src="assets/images/developers-for-social-media-app.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="karavan5 images"
                src="assets/images/karavan_2.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="karsoc5 images"
                src="assets/images/karavan-social-networking-app-screen-2.png"
                alt="mobile layout image"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="section section6">
        <div class="left-middle6">
          <p class="devlop6 paragraph">Devloping ERP Solution for</p>
          <p class="texthead6 paragraph">Text Headline</p>
          <p class="fur6 paragraph">in furniture industry</p>
          <app-path></app-path>
          <div #semiCircle6 class="semiCircle6 semcir"></div>
        </div>
        <div #left6 class="left6 left">
          <div class="left-down6">
            <div>
              <h1 class="abc6786 paragraph">ABC 678</h1>
              <div class="para6 paragraph">
                <p>Best since 2017</p>
                <p>We offer wide range of</p>
                <p>web development and app development</p>
              </div>
              <div class="para26">
                <div class="case-study6 paragraph">
                  <p>View Case Study</p>
                  <span class="material-symbols-outlined">
                    arrow_right_alt
                  </span>
                </div>
                <p class="skip6">SKIP</p>
              </div>
            </div>
          </div>
        </div>
        <div #right6 class="right6 right">
          <div class="right-img6">
            <div>
              <img
                class="int6"
                src="assets/images/interior.jpg"
                alt="home interior image"
              />
            </div>
            <div>
              <img
                class="erp6 images"
                src="assets/images/erp-app-development-service.png"
                alt="ipad layout image"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="section section7">
        <div class="left-middle7">
          <p class="big7 paragraph">Biggest Classifieds</p>
          <p class="east7 paragraph">East Asia</p>
          <p class="cou7 paragraph">Countries</p>
          <app-path></app-path>
          <div #semiCircle7 class="semiCircle7 semcir"></div>
        </div>
        <div #right7 #left7 class="left7 left">
          <div class="left-down7">
            <div>
              <img
                class="mob7 images"
                src="assets/images/mobile-app-of-the-year-by-entrepreneur.png"
              />
              <div>
                <h1 class="abc234787 paragraph">ABC 23478</h1>
                <div class="para7 paragraph">
                  <p>We are the best</p>
                  <p>web devlopment company</p>
                  <p>in the world</p>
                </div>
                <p class="para27 paragraph">Coming Soon</p>
                <p class="skip7">SKIP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="right7 right">
          <div class="right-img7">
            <div>
              <img
                class="melt7 images"
                src="assets/images/melltoo-img2.png"
                alt="mobile layout image"
              />
            </div>
            <div>
              <img
                class="melt27 images"
                src="assets/images/melltoo-img1.png"
                alt="mobile layout image"
              />
            </div>
          </div>
        </div>
      </section>
      <div class="chatbot">
        <p class="circle">
          <span class="material-symbols-outlined mode-comment">
            mode_comment
          </span>
        </p>
      </div>
    </div>
  </body>
</html>
